.navbar {
    height: 7rem;
    background-color: var(--primary-bg);
    border-bottom: 1px solid var(--secondary-bg);

    font-size: 3rem;
    color: var(--primary-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    &--title {
        font-size: 4rem;
        margin-right: auto;
        padding: 0 1rem;
        cursor: pointer;
    }

    &--list {
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;

        &__item {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 1rem;

            &:hover {
                background-color: var(--secondary-bg);
                color: var(--secondary-color);
            }
        }
    }
}

main {
    height: calc(100% - 14rem - 1px);
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

footer {
    height: 5rem;
    background-color: var(--secondary-bg);
    padding: 1rem;

    color: var(--secondary-color);
    font-size: 3rem;
}
