.auth-menu {
    &__title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0 2rem;

        &--item {
            cursor: pointer;
            font-size: 2rem;
            padding: 1rem 0;

            &:not(:last-child) {
                border-bottom: 1px solid var(--gray-color-1);
            }
        }

        &--selected, &--item:hover, &--item:focus {
            color: var(--gray-color-1);
        }
    }
}
