.dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);

    &__content {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        width: 20rem;
    }

    &--active {
        display: block;
    }
}
