@use "sass:color";

$color-success: #90EF90;
$color-error: #FC6C85;
$color-note: #4ba9c8;

.toast-line {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    width: 24rem;
    padding: 1rem;

    border: 0.5rem solid;
    animation: fadeIn ease 1s;

    &--closing {
        animation: fadeOut ease 1s;
    }

    &__message {
        font-size: 3rem;
        color: var(--white-color-1);
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        align-self: flex-start;
        fill: var(--white-color-1);

        &:hover {
            fill: var(--gray-color-4);
        }
    }

    &--success {
        border-color: color.scale($color-success, $lightness: 20%);
        background-color: $color-success;
    }

    &--error {
        border-color: color.scale($color-error, $lightness: 20%);
        background-color: $color-error;
    }

    &--note {
        border-color: color.scale($color-note, $lightness: 20%);
        background-color: $color-note;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
