.sign-in {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    &-title {
        text-align: center;
        font-size: 10rem;
        color: var(--title-color);
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__error {
            &--hide {
                display: none;
            }
        }

        &__block {
            align-self: center;

            &--label {
                display: block;
                font-size: 2.5rem;
                color: var(--label-color);
            }

            &--input {
                border: 1px solid var(--gray-color-1);
                border-radius: 1rem;
                font-size: 2rem;
                font-family: "Jersey 25", sans-serif;
                color: var(--input-text-color);
                padding: 0.5rem;

                &::placeholder {
                    color: var(--placeholder-color);
                }
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-around;
            gap: 3rem;
            margin-top: 4.5rem;
        }

        &__button {
            font-size: 3.5rem;
            border-radius: 1.25rem;
            padding: 0.75rem 1.5rem;
            border: 0;
            font-family: "Jersey 25", sans-serif;
            color: var(--white-color-1);

            &:not(:disabled) {
                cursor: pointer;
            }

            &--primary {
                background-color: #4ba9c8;

                &:hover, &:focus, &:disabled {
                    background-color: #3f91ac;
                }

                &:disabled {
                    color: var(--gray-color-1);
                }
            }

            &--secondary {
                background-color: var(--gray-color-1);

                &:hover, &:focus {
                    background-color: #888;
                }
            }
        }
    }
}