/* You can add global styles to this file, and also import other style files */
:root {
    --primary-bg: #f8f8f8;
    --secondary-bg: #222;
    --primary-color: #222;
    --secondary-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 62.5%;
}
