/* You can add global styles to this file, and also import other style files */
:root {
    --white-color-1: #f8f8f8;
    --secondary-bg: #222;
    --black-color-1: #222;
    --secondary-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
}
