<div class="nav-bubble" [class.nav-bubble--active]="isActivating()">
    <input [id]="id()" type="checkbox" class="nav-bubble-checkbox" [checked]="isSelected()" (change)="toggle()">
    <label [for]="id()" class="nav-bubble-hamburger">
        <svg class="nav-bubble-hamburger__icon">
            <use [attr.xlink:href]="'assets/icons/sprite.svg#icon-' + currentIcon()"></use>
        </svg>
    </label>
    @if (this.isDisplayed()) {
        <div class="nav-bubble-list" [class.nav-bubble-list--show]="isSelected()">
            <ng-content />
        </div>
    }
</div>
